<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petbook"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UploadAdoption"
            android:exported="false"
            android:theme="@style/Theme.Petbook" />
        <activity
            android:name=".UploadDonations"
            android:exported="false" />
        <activity
            android:name=".shelter_signup"
            android:exported="false" />
        <activity
            android:name=".shelter_login"
            android:exported="false" />
        <activity
            android:name=".chat2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Load_users"
            android:exported="false" />
        <activity
            android:name=".UploadPetImage"
            android:exported="false" />
        <activity
            android:name=".account_select"
            android:exported="false" /> <!-- Change the startup activity to account_select -->
        <activity
            android:name=".Splash_pet"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities -->
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".login_acc"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>